<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>circular-std-medium-500.ttf</string>
		<string>CircularStd-Black.ttf</string>
		<string>CircularStd-Bold.ttf</string>
		<string>CircularStd-Regular.ttf</string>
		<string>FrankRuhlLibre-Medium.ttf</string>
		<string>FrankRuhlLibre-Regular.ttf</string>
		<string>FrankRuhlLibre-Bold.ttf</string>
		<string>FrankRuhlLibre-Black.ttf</string>
	</array>
</dict>
</plist>
